@import 'variables';
@import 'mixins';

$circleCoordinates1 : 0px,-105px;
$circleCoordinates2 : 99.86px, -32.45px;
$circleCoordinates3: 61.72px, 84.95px;
$circleCoordinates4 : -61.72px, 84.95px;
$circleCoordinates5 : -99.86px, -32.45px;

@keyframes orbit1 {
	from {
		transform: rotate(0deg) translate($circleCoordinates1) scale(0.5) rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(360deg) translate($circleCoordinates1) scale(1) rotate(-360deg);
		opacity: 1;
	}
}
@keyframes orbit2 {
	from {
		transform: rotate(0deg) translate($circleCoordinates2) scale(0.5) rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(360deg) translate($circleCoordinates2) scale(1) rotate(-360deg);
		opacity: 1;
	}
}
@keyframes orbit3 {
	from {
		transform: rotate(0deg) translate($circleCoordinates3)  scale(0.5) rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(360deg) translate($circleCoordinates3) scale(1) rotate(-360deg);
		opacity: 1;
	}
}
@keyframes orbit4 {
	from {
		transform: rotate(0deg) translate($circleCoordinates4) scale(0.5) rotate(0deg);
		opacity: 0;
	}
	to {
		transform: rotate(360deg) translate($circleCoordinates4) scale(1) rotate(-360deg);
		opacity: 1;
	}
}
@keyframes orbit5 {
	from {
		transform: rotate(0deg) translate($circleCoordinates5) scale(0.5) rotate(0deg);
		opacity: 0;
	}
	to {
		opacity: 1;
		transform: rotate(360deg) translate($circleCoordinates5) scale(1) rotate(-360deg);
	}
}
.fun {
	background-color: #d0d0d0;
	background-image: url('../assets/images/fun/main_bg_fun_1700.jpg');
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: scroll;
	width: 100%;
	@media (min-width: $breakpoint-md) {
		background-attachment: fixed;
	}
	&__container {
		position: relative;
		width: 100%;
	}
	.pagenav {
		position: absolute;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		width: 100px;
		top: 200px;
		@media (min-width: $breakpoint-sm) {
			right: 30%;
			left: auto;
		}
		@media (min-width: $breakpoint-md) {
			right: 34%;
			left: auto;
		}
		&__item {
			display: block;
			box-sizing: border-box;
			width: 100px;
			height: 100px;
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 1.25em;
			background-color: #636363;
			color: white;
			text-decoration: none;
			text-align: center;
			font-weight: $bold;
			border-radius: 50%;
			position: absolute;
			top: 0;
			left: 0;
			outline: 0;
		}
		$animationLength : 0.8s;
		$animationDelay : 0.5s;
		$animationFunction : ease-in-out;
		$animationFillMode : forwards;
		$scale: 0.5;
		&__item:nth-child(1) {
			-moz-transform: translate($circleCoordinates1) scale($scale);
			-webkit-transform: translate($circleCoordinates1) scale($scale);
			transform: translate($circleCoordinates1) scale($scale);
			opacity: 0;
			animation: orbit1 $animationLength $animationDelay $animationFunction $animationFillMode;
		}
		&__item:nth-child(2) {
			-moz-transform: translate($circleCoordinates2) scale($scale);
			-webkit-transform: translate($circleCoordinates2) scale($scale);
			transform: translate($circleCoordinates2) scale($scale);
			opacity: 0;
			animation: orbit2 $animationLength $animationDelay $animationFunction $animationFillMode;
			padding-top: 2.4em;
		}
		&__item:nth-child(3) {
			-moz-transform: translate($circleCoordinates3) scale($scale);
			-webkit-transform: translate($circleCoordinates3) scale($scale);
			transform: translate($circleCoordinates3) scale($scale);
			opacity: 0;
			animation: orbit3 $animationLength $animationDelay $animationFunction $animationFillMode;
			padding-top: 1.9em;
		}
		&__item:nth-child(4) {
			-moz-transform: translate($circleCoordinates4) scale($scale);
			-webkit-transform: translate($circleCoordinates4) scale($scale);
			transform: translate($circleCoordinates4) scale($scale);
			opacity: 0;
			animation: orbit4 $animationLength $animationDelay $animationFunction $animationFillMode;
			padding-top: 1.9em;
		}
		&__item:nth-child(5) {
			-moz-transform: translate($circleCoordinates5) scale($scale);
			-webkit-transform: translate($circleCoordinates5) scale($scale);
			transform: translate($circleCoordinates5) scale($scale);
			opacity: 0;
			animation: orbit5 $animationLength $animationDelay $animationFunction $animationFillMode;
			padding-top: 2.4em;
		}
	}
	.content {
		box-sizing: border-box;
		background-color: rgba(0,0,0,0.4);
		color: white;
		position: absolute;
		right: 0;
		left: 0;
		margin-left: auto;
		margin-right: auto;
		width: 300px;
		top: 220px;
		padding: 20px 10px;
		transform: translate(-100px, 0);
		@media (min-width: $breakpoint-sm) {
			right: auto;
			left: 0;
			width: 400px;
			padding: 20px 20px;
			transform: translate(-100px, 0);
		}
		@media (min-width: $breakpoint-md) {
			width: 600px;
			top: 250px;
			padding: 20px 20px 120px 20px;
			transform: translate(-225px, 0);
		}
		h2 {
			margin-top: 0;
		}
	}
}