@import 'variables';
@import 'mixins';
.home {
	height: 100%; // TODO: check on this
	
	&__container {
		height: 100%;
		background-image: url('../assets/images/home/main_bg1700.jpg');
		background-size: cover;
		background-position: center top;
		position: relative;
	}
	&__heading {
		font-weight: $bold;
		position: absolute;
		text-align: center;
		top: 40px;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		@media (min-width: $breakpoint-sm) {
			//width: 100%;
			top: 40px;
			width: 660px;
		}
		@media (min-width: $breakpoint-md) {
			top: 40px;
			width: 880px;
		}
		@media (min-width: $breakpoint-lg) {
			top: 60px;
		}
	}
	&__name {
		font-size: 33px;
		@media (min-width: $breakpoint-sm) {
			font-size: 54px; // width: 660px;
			height: 100px;
			line-height: 100px;
			opacity: 1;
			-moz-transition: all 0.4s ease-in;
			-webkit-transition: all 0.4s ease-in;
			transition: all 0.4s ease-in;
		}
		@media (min-width: $breakpoint-md) {
			font-size: 76px; // width: 880px;
		}
		span {
			padding-left: 35px;
		}
		&.fade {
			opacity: 0;
		}
	}
	&__icons {
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		position: absolute;
		top: 0px;
		// margin: 0px auto 0 auto;
		// left: 0;
		// right: 0;
		left: 19.5%; // because jen's name isn't perfectly centered
		// width = num of icons * 80 + 20(padding)
		width: 420px;
		height: 100px;
		padding-left: 20px;
		@media (min-width: $breakpoint-md) {
			left: 27.5%;
		}
		span {
			display: block;
			float: left;
			font-size: 2em;;
			border-radius: 50%;
			width: 100px;
			height: 100px;
			line-height: 100px;
			text-align: center;
			margin: 0 0 0 -20px;
			color: rgba(225,225,225,0.95);
			opacity: 0;
			visibility: hidden;
			text-shadow: 0 -1px 1px rgba(0,0,0,0.1);
			-moz-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;
			a {
				color: rgba(225,225,225,0.95);
			}
		}
		span:nth-child(odd) {
			background: rgba(0, 0, 0, 0.8);
		}
		span:nth-child(even) {
			background: rgba(50, 50, 50, 0.8);
		}
		span:nth-child(1) {
			-moz-transform: translate(200%) translate(-40px);
			-webkit-transform: translate(200%) translate(-40px);
			transform: translate(200%) translate(-40px);
		}
		span:nth-child(2) {
			-moz-transform: translate(100%) translate(-20px);
			-webkit-transform: translate(100%) translate(-20px);
			transform: translate(100%) translate(-20px);
		}
		span:nth-child(4) {
			-moz-transform: translate(-100%) translate(20px);
			-webkit-transform: translate(-100%) translate(20px);
			transform: translate(-100%) translate(20px);
		}
		span:nth-child(5) {
			-moz-transform: translate(-200%) translate(40px);
			-webkit-transform: translate(-200%) translate(40px);
			transform: translate(-200%) translate(40px);
		}
		span.last {
			opacity: 1;
			visibility: visible;
			position: absolute;
			background: rgba(0, 0, 0, 0.8);
			top: 0;
			left: 50%;
			margin-left: -50px;
			z-index: 9;
			-moz-transform: scale(0.28);
			-webkit-transform: scale(0.28);
			transform: scale(0.28);

		}
		span.last i {
			font-size: 90px;
			color: #777;
		}
		span.last:hover {
			-moz-transform: scale(1);
			-webkit-transform: scale(1);
			transform: scale(1);
		}
		span.opened-icons {
			-moz-transform: translate(0%);
			-webkit-transform: translate(0%);
			transform: translate(0%);
			opacity: 1;
			visibility: visible;
		}
		span.opened-icons.last {
			opacity: 0;
			// display: none;
			visibility: hidden;
			-moz-transform: scale(1.4);
			-webkit-transform: scale(1.4);
			transform: scale(1.4);
		}
		&-close {
			position: absolute;
			right: -15px;
			top: 0;
			font-size: 20px;
			opacity: 0;
			cursor: pointer;
			visibility: hidden; // to prevent click when opacity: 0
			-moz-transition: all 0.4s ease-in-out;
			-webkit-transition: all 0.4s ease-in-out;
			transition: all 0.4s ease-in-out;

		}
		&-close.opened-icons {
			opacity: 1;
			visibility: visible;
		}
	}
}