/* ----- VARIABLES---- */
@keyframes orbit1 {
  from {
    transform: rotate(0deg) translate(0px, -105px) scale(0.5) rotate(0deg);
    opacity: 0; }
  to {
    transform: rotate(360deg) translate(0px, -105px) scale(1) rotate(-360deg);
    opacity: 1; } }

@keyframes orbit2 {
  from {
    transform: rotate(0deg) translate(99.86px, -32.45px) scale(0.5) rotate(0deg);
    opacity: 0; }
  to {
    transform: rotate(360deg) translate(99.86px, -32.45px) scale(1) rotate(-360deg);
    opacity: 1; } }

@keyframes orbit3 {
  from {
    transform: rotate(0deg) translate(61.72px, 84.95px) scale(0.5) rotate(0deg);
    opacity: 0; }
  to {
    transform: rotate(360deg) translate(61.72px, 84.95px) scale(1) rotate(-360deg);
    opacity: 1; } }

@keyframes orbit4 {
  from {
    transform: rotate(0deg) translate(-61.72px, 84.95px) scale(0.5) rotate(0deg);
    opacity: 0; }
  to {
    transform: rotate(360deg) translate(-61.72px, 84.95px) scale(1) rotate(-360deg);
    opacity: 1; } }

@keyframes orbit5 {
  from {
    transform: rotate(0deg) translate(-99.86px, -32.45px) scale(0.5) rotate(0deg);
    opacity: 0; }
  to {
    opacity: 1;
    transform: rotate(360deg) translate(-99.86px, -32.45px) scale(1) rotate(-360deg); } }

.fun {
  background-color: #d0d0d0;
  background-image: url("../assets/images/fun/main_bg_fun_1700.jpg");
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%; }
  @media (min-width: 1024px) {
    .fun {
      background-attachment: fixed; } }
  .fun .pagenav {
    position: absolute;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    top: 200px;
    z-index: 9; }
    @media (min-width: 768px) {
      .fun .pagenav {
        right: 30%;
        left: auto;
        position: fixed; } }
    @media (min-width: 1024px) {
      .fun .pagenav {
        right: 34%;
        left: auto; } }
    .fun .pagenav__item {
      display: block;
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 1.25em;
      background-color: #636363;
      color: white;
      text-decoration: none;
      text-align: center;
      font-weight: 700;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 0;
      outline: 0; }
      @media (min-width: 1024px) {
        .fun .pagenav__item {
          font-size: 0.9em; } }
    .fun .pagenav__item:nth-child(1) {
      -moz-transform: translate(0px, -105px) scale(0.5);
      -webkit-transform: translate(0px, -105px) scale(0.5);
      transform: translate(0px, -105px) scale(0.5);
      opacity: 0;
      animation: orbit1 0.8s 0.5s ease-in-out forwards; }
    .fun .pagenav__item:nth-child(2) {
      -moz-transform: translate(99.86px, -32.45px) scale(0.5);
      -webkit-transform: translate(99.86px, -32.45px) scale(0.5);
      transform: translate(99.86px, -32.45px) scale(0.5);
      opacity: 0;
      animation: orbit2 0.8s 0.5s ease-in-out forwards;
      padding-top: 2.4em; }
    .fun .pagenav__item:nth-child(3) {
      -moz-transform: translate(61.72px, 84.95px) scale(0.5);
      -webkit-transform: translate(61.72px, 84.95px) scale(0.5);
      transform: translate(61.72px, 84.95px) scale(0.5);
      opacity: 0;
      animation: orbit3 0.8s 0.5s ease-in-out forwards;
      padding-top: 1.9em; }
    .fun .pagenav__item:nth-child(4) {
      -moz-transform: translate(-61.72px, 84.95px) scale(0.5);
      -webkit-transform: translate(-61.72px, 84.95px) scale(0.5);
      transform: translate(-61.72px, 84.95px) scale(0.5);
      opacity: 0;
      animation: orbit4 0.8s 0.5s ease-in-out forwards;
      padding-top: 1.9em; }
    .fun .pagenav__item:nth-child(5) {
      -moz-transform: translate(-99.86px, -32.45px) scale(0.5);
      -webkit-transform: translate(-99.86px, -32.45px) scale(0.5);
      transform: translate(-99.86px, -32.45px) scale(0.5);
      opacity: 0;
      animation: orbit5 0.8s 0.5s ease-in-out forwards;
      padding-top: 2.4em; }
  .fun .content {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 100vh;
    margin-bottom: 200px; }
    .fun .content__item {
      padding: 30px 20px 40px 20px; }
      @media (min-width: 1024px) {
        .fun .content__item {
          padding: 50px 60px 40px 60px; } }
    .fun .content__item:nth-child(1) {
      background-color: rgba(205, 119, 221, 0.4); }
    .fun .content__item:nth-child(2) {
      background-color: rgba(180, 180, 180, 0.4); }
    .fun .content__item:nth-child(3) {
      background-color: rgba(12, 138, 215, 0.4); }
    .fun .content__item:nth-child(4) {
      background-color: rgba(200, 80, 80, 0.4); }
    .fun .content__item:nth-child(5) {
      background-color: rgba(234, 109, 71, 0.4); }
    .fun .content p {
      margin: 0; }
    .fun .content h2 {
      margin-top: 0; }
