/* ----- VARIABLES---- */
.videos {
  background-color: #d0d0d0;
  background-image: url("../assets/images/videos/main_bg_videos_1700.jpg");
  background-size: cover;
  background-position: center top; }
